body {
    font-family: Arial, sans-serif;
    background: #4facfe;
    background: linear-gradient(to right, #00f2fe, #4facfe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.search-box {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 70%;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    background: #007bff;
    color: white;
    border: none;
}

button:hover {
    background: #0056b3;
}

#weatherResult {
    margin-top: 20px;
    font-size: 18px;
}
